<h1>Planes from this Manufacturer</h1>
<br/><br/>
<br/>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">License Plate</th>
      <th scope="col">Year</th>
      <th scope="col">Door Count</th>
      <th scope="col">Mileage</th>
      <th scope="col">Manufacturer</th>
  </tr>
  </thead>
  <tbody>
    <tbody>